<mat-card class="wrapper">
  <mat-card-header>
    <mat-card-title>Inloggen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="credentials-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Gebruikersnaam</mat-label>
          <input matInput type="text" formControlName="username" placeholder="gebruikersnaam..." required>
          <mat-error *ngIf="username.invalid">Gebruikersnaam moet ingevuld worden.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Wachtwoord</mat-label>
          <input matInput type="password" formControlName="password" placeholder="wachtwoord..." required>
          <mat-error *ngIf="password.invalid">Wachtwoord moet ingevuld worden.</mat-error>
        </mat-form-field>
        <br>
        <button mat-button type="submit" [disabled]="!loginForm.valid">Inloggen</button>
      </form>

    </div>

  </mat-card-content>
  <mat-card-actions>
    <mat-card-content>
      Nog geen account? <button mat-button [routerLink]="['/register']"
        routerLinkActive="router-link-active">Registeren</button>

    </mat-card-content>
    <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Annuleren</button>
  </mat-card-actions>
</mat-card>
