.header {
  width: 100%;
  background-color: #eeeeee61;
  overflow:hidden;

  padding-bottom: 10px;
}

.header-wrapper {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.profile-image-wrapper {
  float: left;
}

.profile-image {
  height: 130px;
  width: 130px;
  margin: 10px;

  border-radius: 50%;
  object-fit: cover;
}

.profile-data {
  float: left;
}

.profile-name {
  font-size: 25px;
}

.profile-username {
  font-size: 15px;
  color: gray;
}

.post-image-container:hover .image {
  opacity: 0.3;
}

.post-image-container:hover .post-image-overlay {
  opacity: 1;
}

.post-image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.post-image-overlay {
  transition: .5s ease;
  opacity: 0;
  top: 0;

  text-align: center;
}

.post-image-overlay-text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.image-tooltip  {
  width: 10px;
}
