@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    padding: 0;
}

/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .loading{
    margin: 0 auto;
  }

  i {
    padding: 0;
    margin: 0;
  }

  router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
